*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
}
input{
    height: 45px;
    border-radius: 8px;
    border: 1px solid #8b8080;
    font-size: 0.9rem;
    padding-left: 15px;
}