*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    list-style:none;
}
input{
    height: 45px;
    border-radius: 8px;
    border: 1px solid #8b8080;
    font-size: 0.9rem;
    padding-left: 15px;
}
#numberAddress{
    width:30%;
    text-align:center;
    padding:0;
}
@media(max-width:1000px){
    #numberAddress{
        width:60%;
        text-align:center;
        padding:0;
    }
}